@import url('index.css');

.card{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    border-radius: 30px;

    width: 345px;
    margin: 5px;
}

.dessert-image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border-radius: 15px;

    width: 100%;
    height: 227px;
}

.card-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Rose-50);

    width: 175px;
    height: 50px;
    margin: 10px;

    box-shadow: 0px 0px 2px 1px var(--Red);
    border-radius: 25px;

    position: relative;
    top: -38px;
}

.add-to-cart-p{
    font-size: 1em;
    font-weight: 600;
    color: var(--Rose-900);
}

.card-button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 4px 1px var(--Red);
    transition: 0.3s;
    .add-to-cart-p{
        color: var(--Red);
        transition: 0.3s;
    }
}

.align-add-to-cart-first-info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    height: 100%;
}

.dessert-information{
    width: 100%;
}

.dessert-category{
    font-size: 0.9em;
    color: var(--Rose-400);
}

.dessert-name{
    font-size: 1.2em;
    color: var(--Rose-900);
}

.dessert-price{
    font-size: 1.1em;
    color: var(--Red);
}

.dessert-category, .dessert-name, .dessert-price{
    padding-top: 5px;
}