@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root{
    --font: "Red Hat Text", sans-serif;
    --Red: hsl(14, 86%, 42%);
    --Green: hsl(159, 69%, 38%);

    --Rose-50: hsl(20, 50%, 98%);
    --Rose-100: hsl(13, 31%, 94%);
    --Rose-300: hsl(14, 25%, 72%);
    --Rose-400: hsl(7, 20%, 60%);
    --Rose-500: hsl(12, 20%, 44%);
    --Rose-900: hsl(14, 65%, 9%);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*Font size (product names): 16px*/
/*mobile first*/

body{
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: var(--font);
    background-color: var(--Rose-100);

    position: relative;
}

svg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    padding: 10px;
    color: var(--Rose-900);
}

.cards{
    display: grid;
    padding: 10px;

    width: 100%;
}

@media screen and (min-width: 725px) {
    .cards{
        grid-template-columns: auto auto ;
        grid-template-rows: auto auto auto auto auto;
        gap: 20px;
    }

    .title{
        grid-column: 1 / -1;
    }
}

@media screen and (min-width: 1025px) {

    .main-content{
        display: flex;
        flex-flow: row nowrap;
    }

    .title{
        grid-column: 1 / -1;
    }

    .cards{
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        gap: 20px;
    }

    .card{
        width: 340px;
        height: 400px;
    }

    .cart{
        height: 100%;
        width: 325px;
    }

    .nothing-added-text{
        text-align: center;
    }
}
