@import url('index.css');

.active-popup-background{
    background-color: rgba(0, 0, 0, 0.282);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
}